* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  --background: rgb(232, 252, 252);
  --primary: #d1e3e3;
  --button: linear-gradient(
    0deg,
    rgb(186, 188, 188) 0%,
    rgb(219, 219, 219) 100%
  );
  --shadow: 0 0 3px var(--primary);
}
body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 10rem 2rem auto 2rem;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
header h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

main {
  justify-content: space-evenly;
  background: rgb(222 231 231);
  padding: 1rem;
  margin-top: 0.4rem;
}
main section.exercises {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
  margin-top: 0.4rem;
}
main section.exercises p.description {
  display: none;
}

/* body main section.exercises article {
  position: relative;
} */

/* Lista de Ejercicios*/
body main section.exercises article {
  background: white;
  box-shadow: var(--shadow);
  width: 15rem;
  height: 25rem;
  padding: 2px 15px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}
body main section.exercises article h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  text-align: center;
  overflow-wrap: break-word;
}
body main section.exercises article h2 a,
body main section.exercise article h2 a {
  color: #24213c;
  text-decoration: none;
  text-transform: uppercase;
}
body main section.exercises article h2 a:hover,
body main section.exercise article h2 a:hover {
  color: #250ed5;
}
body main section.exercises article p.category {
  color: #fff;
  background-color: #8126a3;
  width: fit-content;
  border-radius: 5px;
  padding: 2px 4px;
  margin-bottom: 4px;
}
body main section.exercises article section.img-description {
  height: 100%;
}
body main section.exercises article img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}
body main section.exercises article p.description {
  flex-grow: 1;
}
body main section.exercises article p.likes {
  position: absolute;
  left: 15px;
  bottom: 15px;
  color: maroon;
}
body main section.exercises article .section-buttons {
  position: absolute;
  right: 15px;
  bottom: 15px;
}
body main section.exercises article .edit-button {
  background-image: url("/public/edit-button.png");
}
body main section.exercises article .delete-button {
  background-image: url("/public/delete-button.png");
}
body main section.exercises article .like-button {
  background-image: url("/public/like-button.png");
}

/*DETALLES DE UN EJERCICIO*/
body main section.exercise article {
  display: flex;
  flex-direction: column;
  position: relative;
  border: 20px;
}
body main section.exercise article h2 {
  display: block;
  font-size: 2.5em;
  text-align: center;
}
body main section.exercise article p.category {
  color: #fff;
  background-color: #8126a3;
  font-size: 1.5em;
  width: fit-content;
  border-radius: 5px;
  padding: 2px 4px;
}
body main section.exercise article section.img-description {
  padding-bottom: 1.5rem;
}
body main section.exercise article img {
  display: block;
  width: 50%;
  height: 50%;
  margin: auto;
  object-fit: cover;
}
body main section.exercise article p.description {
  font-size: 1.5em;
  text-align: center;
  margin: 20px;
}
body main section.exercise article p.likes {
  position: absolute;
  left: 15px;
  bottom: 0px;
  color: maroon;
  font-size: 1.5em;
}
body main section.exercise article .section-buttons {
  position: absolute;
  right: 15px;
  bottom: 0px;
}
body main section.exercise article .edit-button {
  background-image: url("/public/edit-button.png");
}
body main section.exercise article .delete-button {
  background-image: url("/public/delete-button.png");
}
body main section.exercise article .like-button {
  background-image: url("/public/like-button.png");
}

/* body main article .category {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.5rem;
} */

.custom-button {
  padding: 0.2rem 0.5rem;
  background-color: rgb(203, 203, 203);
  border-radius: 5px;
  margin-left: 0.4rem;
}
.btn-exercise {
  list-style: none;
  margin: 0;
  display: flex;
  gap: 1rem;
}

.btn-exercise li {
  margin: 0;
  display: flex;
}
.btn-exercise li a {
  margin: 0;
}
.btn-exercise li button {
  display: inline-block;
  font-size: 0;
  height: 1.5rem;
  width: 1.5rem;
  background-size: contain;
  background-color: transparent;
  padding: 0.2rem;
  margin: 0;
  border-radius: 3px;
}
.btn-exercise li button:hover {
  background-color: rgb(141, 136, 136);
}

/* FORMULARIO */
form fieldset {
  border: none;
  padding-top: 1rem;
}
form fieldset label {
  font-size: 1em;
}

form ul li {
  list-style: none;
  margin: 1rem 0;
}

form label {
  display: block;
  margin-bottom: 0.25rem;
  font-size: 12px;
  font-weight: bold;
}

form input,
form textarea {
  width: 100%;
  background-color: rgb(199, 195, 195);
  padding: 0.3rem;
  border: none;
}
form select {
  width: 100%;
  padding: 0.3rem;
}

form button {
  background-color: rgb(61, 59, 59);
  color: white;
  border: none;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 12px;
}
/* */
.category-filter {
  margin: 0.5rem 0;
}
.category-filter select {
  width: 10%;
  padding: 0.3rem;
}

@media (min-width: 600px) {
  body main section.exercise article section.img-description {
    display: flex;
    flex-direction: row;
    padding-bottom: 3rem;
  }
}
